/* .hero{
    grid-column: -3 / 2;
    grid-row: 1 / 4;
    border-color: blue;
    background-color: chocolate;
    overflow: hidden;
} */
.hero {
    display: grid;
    width: 95vw;
    grid-template: repeat(3, 30%) / repeat(2, 50%);
  }