/* Navbar.module.css */
.navbar {
  z-index: 2;
  padding: 10px 20px;
  backdrop-filter: blur(2px);
  position: fixed;
  width:100vw;
  background-color: rgb(25 25 25 / 30%);
  backdrop-filter: blur(10px);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
}

.logoImage {
  height: 100px; /* Adjust as needed */
}

.menuLinks {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.navLink {
  color: rgb(25, 145, 75);
  text-decoration: none;
  padding: 10px;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burgerLine {
  width: 25px;
  height: 3px;
  background-color: rgb(7, 124, 33);
}

@media (max-width: 768px) {
  .menuLinks {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    color: blue;
  }

  .menuLinks.active {
    margin-top: 1em;
    display: flex;
  }

  .burger {
    display: flex;
  }
}
